<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Gestor de pedidos</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="/static/css/animate.min.css" rel="stylesheet" />

    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/css/light-bootstrap-dashboard.css" rel="stylesheet" />


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="/static/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>

<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/static/img/sidebar-5.jpg">

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/" class="simple-text">
                    Gestor de pedidos
                </a>
                </div>

                <ul class="nav">
                    <li>
                        <a href="/">
                            <i class="pe-7s-home"></i>
                            <p>Inicio</p>
                        </a>
                    </li>
                    <li class="active">
                        <a href="/ciclos">
                            <i class="pe-7s-graph3"></i>
                            <p>Ciclos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/minutas">
                            <i class="pe-7s-note2"></i>
                            <p>Minutas</p>
                        </a>
                    </li>
                    <li>
                        <a href="/productos">
                            <i class="pe-7s-cart"></i>
                            <p>Productos</p>
                        </a>
                    </li>
                    <li>
                        <a href="/pedidos">
                            <i class="pe-7s-calculator"></i>
                            <p>Generar Pedidos</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">Gestor de pedidos - Ciclos</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="">
                               Xavier Sarmiento
                            </a>
                            </li>
                            <li>
                                <a href="#" data-bind="click: function() { logout() }">
                                Salir
                            </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="card">
                                <div class="header">
                                    <h4 class="title">
                                    <span data-bind="text:formActionName"></span>
                                  </h4>
                                </div>
                                <div class="content">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-7">
                                                <div class="form-group">
                                                    <label>Nombre del ciclo</label>
                                                    <input type="text" class="form-control" data-bind="value: cicloName">
                                                </div>
                                                <div class="form-group">
                                                    <label>Nombre del ciclo para el Excel</label>
                                                    <input type="text" class="form-control" data-bind="value: cicloNameExcel">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-info btn-fill" data-bind="click: function() { goToSave() }">Guardar</button>
                                        <button type="submit" class="btn btn-default btn-fill" data-bind="click: function() { cancel() }">Cancelar</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-7">
                            <div class="card ">
                                <div class="header">
                                    <h4 class="title">Ciclos</h4>
                                </div>
                                <div class="content">
                                    <div class="table-full-width">
                                        <table class="table">
                                            <tbody data-bind="foreach: ciclos">
                                                <tr>
                                                    <td><span data-bind="text:title"></span></td>
                                                    <td><span data-bind="text:title_for_excel"></span></td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Editar ciclo" class="btn btn-info btn-simple" data-bind="click: function() { $parent.goToEdit($data) }">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                    </td>
                                                    <td class="td-actions text-right">
                                                        <button type="button" rel="tooltip" title="Eliminar ciclo" class="btn btn-info btn-simple" data-bind="click: function() { $parent.delete($data) }">
                                                            <i class="fa fa-trash-o"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        &copy; 2016, Made by Xavier Sarmiento. Thanks to <a href="http://www.creative-tim.com">Creative Tim</a>
                    </p>
                </div>
            </footer>

        </div>
    </div>

</body>

<!--   Core JS Files   -->
<script src="/static/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.min.js" type="text/javascript"></script>


<!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
<script src="/static/js/light-bootstrap-dashboard.js"></script>

<script src="/static/js/knockout-3.4.1.js"></script>

<script src="/static/app/ciclos.js"></script>

</html>
