<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#2196F3">
    <title>Gestor de pedidos</title>

    <!-- CSS  -->
    <link href="/static/min/plugin-min.css" type="text/css" rel="stylesheet">
    <link href="/static/min/custom-min.css" type="text/css" rel="stylesheet">    
</head>

<body id="top" class="scrollspy">

    <!-- Pre Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>

    </div>

    <!--Navigation-->
    <div class="navbar-fixed">
        <nav id="nav_f" class="default_color" role="navigation">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" id="logo-container" class="brand-logo hide-on-small-only">
                      Gestion de pedidos
                      <img src="/static/img/loading.gif" data-bind="visible:isloading()" />
                    </a>
                    <a href="/" id="logo-container" class="brand-logo hide-on-med-and-up">
                      Pedidos
                      <img src="/static/img/loading.gif" data-bind="visible:isloading()" />
                    </a>
                    <ul class="right hide-on-med-and-down">
                        <li><a data-bind="click: function() { logout() }">salir</a></li>
                    </ul>
                    <ul id="nav-mobile" class="side-nav">
                        <li><a data-bind="click: function() { logout() }">salir</a></li>
                    </ul>
                    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                </div>
            </div>
        </nav>
    </div>
    <div class="section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col l12 s12" data-bind="visible:hideList()">
                    <div class="collection with-header">
                        <h6 class="collection-header">
                          Minutas
                          <a class="btn-floating btn waves-effect waves-light red right-align" data-bind="click: function() { goToCreate() }">+</a>
                        </h6>
                        <div class="row">
                            <div class="col s4 offset-s1">Minuta</div>
                            <div class="col s3">Ciclo</div>
                            <div class="col s1">Editar</div>
                            <div class="col s1">Eliminar</div>
                        </div>
                        <div class="row" data-bind="foreach: minutas">
                            <div class="col s4 offset-s1"><span data-bind="text:title"></span></div>
                            <div class="col s3"><span data-bind="text:$parent.getCicloName(cicloId)"></span></div>
                            <div class="col s1"><a class="btn-floating btn blue" data-bind="click: function() { $parent.goToEdit($data) }">*</a></div>
                            <div class="col s1"><a class="btn-floating btn green" data-bind="click: function() { $parent.delete($data) }">-</a></div>
                        </div>
                    </div>
                </div>
                <div class="col l12 s12" data-bind="visible:isCreating()">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="minuta_name" type="text" class="validate" data-bind="value: minutaName">
                                <label for="minuta_name">Minuta Name</label>
                            </div>
                            <div class="input-field col s6" data-bind="foreach: ciclos">
                                <p>
                                    <input name="ciclos" type="radio" data-bind="attr: { id:_id,value:_id},checked: $parent.cicloId"/>
                                    <label data-bind="attr: { for:_id},text:title"></label>
                                </p>
                            </div>
                        </div>
                    </form>
                    <button class="btn waves-effect waves-light" type="submit" name="action" data-bind="click: function() { save() }">
                        Guardar
                    </button>
                    <button class="btn-flat waves-effect waves-light" type="submit" name="action" data-bind="click: function() { cancel() }">
                        Cancelar
                    </button>
                </div>
                <div class="col l12 s12" data-bind="visible:isEditing()">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="minuta_name" type="text" class="validate" data-bind="value: minutaName" placeholder="Placeholder">
                                <label for="minuta_name">Ciclo Name</label>
                            </div>
                            <div class="input-field col s6" data-bind="foreach: ciclos">
                                <p>
                                    <input name="ciclos" type="radio" data-bind="attr: { id:_id,value:_id},checked: $parent.cicloId"/>
                                    <label data-bind="attr: { for:_id},text:title"></label>
                                </p>
                            </div>
                        </div>
                    </form>
                    <button class="btn waves-effect waves-light" type="submit" name="action" data-bind="click: function() { edit() }">
                        Guardar
                    </button>
                    <button class="waves-effect waves-light btn-flat" type="submit" name="action" data-bind="click: function() { cancel() }">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <footer id="contact" class="page-footer default_color scrollspy">
        <div class="footer-copyright default_color">
            <div class="container">
                Made by <a class="white-text">Xavier Sarmiento</a>. Thanks to <a class="white-text" href="http://materializecss.com/" target="_blank">materializecss</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="/static/min/plugin-min.js"></script>
    <script src="/static/min/custom-min.js"></script>
    <script src="/static/min/jquery-3.1.1.min.js"></script>
    <script src="/static/min/knockout-3.4.0.js"></script>
    <script src="/static/app/minutas.js"></script>
</body>

</html>
